# Debug files
fordon/fordon/Debug/
kontroll/kontroll/Debug/


# Ignore specific files here
fordon/fordon.atsuo
fordon/fordon.atsln
kontroll/kontroll.atsuo
kontroll/kontroll.atsln
TcfTransactionLog.csv

